.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo {
    width: 200px;
}

.nav-items {
    padding:  0px 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    
}

.res-container>a{
    text-decoration: none;
    color: black;
   
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 380px;
    
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
}


.login{
    padding: 0px 10px;
  
    cursor: pointer;
}

.filter{
    display: flex;
    margin: 10px;
}
.search{
    padding: 1px 5px;
    cursor: pointer;
}

.filter-btn{
   
    cursor: pointer;
    
}

.shimmer-container{

display: flex;
flex-wrap: wrap;
margin-top: 2rem;
justify-content: space-around;

}
.shimmer-card{
    width: 200px;
    background-color: rgb(232, 232, 232);
    height: 400px;
    margin: 1rem;
    padding: 0.5rem;
}

.info {
    margin: 0 10px;
}



.resdetail {
   text-align: center;
}

.info >ul>li{
    list-style-type: none;
    margin: 42px 0;
}

.info{
    margin: 42px 10rem;
   
}

.resinfo {
    margin: 0px 50px;
}

.menuitem{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.itemimg {
    width: 100px;
    border-radius: 20px;
}

.user-card{
    border: 1px solid black;
    width: 200px;
    margin: 10px;
}

.user-card > img{
    height: 100px;
    width: 100px;
}